@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext');

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}

body {
    padding: 30px 20%;
    margin: 0;
}

.home_1,
.home_2,
.home_3
{
    width: 32%;
}

.obrazek_losos,
.obrazek_melancholie{
  width: 350px;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.obrazek_tagliatelle{
  width: 350px;
  float: right;
  margin-left: 30px;
  margin-bottom: 30px;
}

body{
  background-color: #FFFFFF;
 
}

.section{
  background-color:#FFEFEF;
}

.section2,
.section3,
.section4{
  overflow:hidden;
}